Repository dalisoft/airlight: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdown

lefthook.yml:

prepare-commit-msg:
  commands:
    commitlint:
      env:
        PATH: $PATH:./node_modules/.bin
      run: commitlint --edit

pre-commit:
  parallel: true
  commands:
    biome:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: '*.{js,ts,json}'
      run: biome check {staged_files} --write
    markdown:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: '*.md'
      run: dprint fmt {staged_files}

pre-push:
  parallel: true
  commands:
    biome:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: '*.{js,ts,json}'
      run: biome check {push_files}
    markdown:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: '*.md'
      run: dprint check {push_files}
    ls-lint:
      env:
        PATH: $PATH:./node_modules/.bin
      run: ls-lint

fix(smartlint-unix): update deps, engines
  packages/smartlint-unix/package.json
Due: biome

chore: update git hook config
  lefthook.yml
Due: none

chore: lint and commit fixes
  .commitlintrc
  .ls-lint.yml
  bun.lock
  lefthook.yml
Due: none

fix(eslint-config-airlight-base): update deps
  packages/eslint-config-base/package.json
Due: biome

chore: revert path fix
  lefthook.yml
  package.json
Due: biome

fix(commitlint-config-airlight): remove comment
  packages/commitlint-config/config.cjs
Due: none

chore: lefthook fixes
  lefthook.yml
Due: none

fix(airlight-resolve): deprecate package
  packages/airlight-resolve/package.json
Due: biome

docs: readme update
  README.md
Due: markdown

chore: many improvements, fixes, updates
  .oxlintrc.json
  .vscode/settings.json
  biome.json
  bun.lock
  lefthook.yml
  package.json
  tsconfig.json
Due: biome

fix(biome-config-airlight): update biome configuration
  packages/biome-config/README.md
  packages/biome-config/biome.json
Due: biome, markdown

refactor(eslint-config-airlight-base): use optimized configs
  packages/eslint-config-base/.gitignore
  packages/eslint-config-base/README.md
  packages/eslint-config-base/airbnb-rules.cjs
  packages/eslint-config-base/airbnb-rules.json
  packages/eslint-config-base/biome.json
  packages/eslint-config-base/eslint.config.cjs
  packages/eslint-config-base/eslint.config.js
  packages/eslint-config-base/flat.cjs
  packages/eslint-config-base/flat.js
  packages/eslint-config-base/legacy.js
  packages/eslint-config-base/overrides/cjs-files.js
  packages/eslint-config-base/overrides/stylistic.js
  packages/eslint-config-base/overrides/ts-files.js
  packages/eslint-config-base/package.json
  packages/eslint-config-base/plugins/import-x.cjs
  packages/eslint-config-base/plugins/no-secrets.cjs
  packages/eslint-config-base/plugins/no-secrets.mjs
  packages/eslint-config-base/plugins/optimize-regex.cjs
  packages/eslint-config-base/plugins/promise.cjs
  packages/eslint-config-base/rules.cjs
  packages/eslint-config-base/rules.json
  packages/eslint-config-base/scripts/build-eslint8.js
  packages/eslint-config-base/scripts/build-oxlint.cjs
  packages/eslint-config-base/scripts/build-oxlint.js
  packages/eslint-config-base/settings.cjs
  packages/eslint-config-base/settings.json
Due: biome, markdown

refactor(eslint-config-airlight-node): use optimized configs
  packages/eslint-config-node/.gitignore
  packages/eslint-config-node/README.md
  packages/eslint-config-node/biome.json
  packages/eslint-config-node/eslint.config.cjs
  packages/eslint-config-node/eslint.config.js
  packages/eslint-config-node/flat.cjs
  packages/eslint-config-node/flat.js
  packages/eslint-config-node/legacy.cjs
  packages/eslint-config-node/legacy.js
  packages/eslint-config-node/package.json
  packages/eslint-config-node/rules.cjs
  packages/eslint-config-node/scripts/build-eslint8.js
  packages/eslint-config-node/scripts/build-oxlint.cjs
  packages/eslint-config-node/scripts/build-oxlint.js
Due: biome, markdown

refactor(eslint-config-airlight-base): improve previous bugs
  packages/eslint-config-base/eslint.config.js
  packages/eslint-config-base/package.json
Due: biome

refactor(eslint-config-airlight-node): improve previous bugs
  packages/eslint-config-node/biome.json
  packages/eslint-config-node/eslint.config.js
  packages/eslint-config-node/flat.js
  packages/eslint-config-node/legacy.js
  packages/eslint-config-node/package.json
Due: biome

fix(commitlint-config-airlight): improve config
  packages/commitlint-config/config.cjs
  packages/commitlint-config/config.js
  packages/commitlint-config/package.json
Due: biome

fix(eslint-config-airlight-base): typings fixes
  packages/eslint-config-base/flat.js
  packages/eslint-config-base/overrides/cjs-files.js
  packages/eslint-config-base/overrides/ts-files.js
Due: biome

fix(airlight-resolve): skip typescript check
  packages/airlight-resolve/bench/bench-1.js
  packages/airlight-resolve/examples/basic.mjs
Due: biome

fix(eslint-config-airlight-node): oxlint fixes
  packages/eslint-config-node/flat.js
  packages/eslint-config-node/scripts/build-oxlint.js
Due: biome

fix(eslint-config-airlight-base): oxlint fixes
  packages/eslint-config-base/scripts/build-oxlint.js
Due: biome

fix(eslint-config-airlight-node): oxlint fixes
  packages/eslint-config-node/scripts/build-oxlint.js
Due: biome

refactor(eslint-config-airlight-react): use optimized configs
  packages/eslint-config-react/.eslintrc.json
  packages/eslint-config-react/README.md
  packages/eslint-config-react/biome.json
  packages/eslint-config-react/eslint.config.cjs
  packages/eslint-config-react/eslint.config.js
  packages/eslint-config-react/flat.js
  packages/eslint-config-react/legacy.js
  packages/eslint-config-react/package.json
  packages/eslint-config-react/rules.cjs
  packages/eslint-config-react/rules.json
  packages/eslint-config-react/scripts/build-eslint8.js
  packages/eslint-config-react/scripts/build-oxlint.cjs
  packages/eslint-config-react/scripts/build-oxlint.js
Due: biome, markdown

fix(smartlint): update dependencies
  packages/smartlint/package.json
Due: biome

chore: update tsconfig for better performance
  .gitignore
  tsconfig.json
Due: biome

chore: update build scripts
  packages/eslint-config-base/scripts/build-oxlint.js
  packages/eslint-config-node/scripts/build-oxlint.js
  packages/eslint-config-react/.eslintrc.json
  packages/eslint-config-react/scripts/build-oxlint.js
Due: biome

chore: update build scripts
  package.json
  scripts/release.ts
Due: biome

chore: migrate to Bun actions
  .github/workflows/lint_release.yml
Due: none

fix(smartlint): lint error fix
  packages/smartlint/bin/cli.js
Due: biome

chore: linting direct usage
  package.json
Due: biome

fix(eslint-config-airlight-node): update `node` plugin
  bun.lock
  packages/eslint-config-node/package.json
Due: biome

chore: remove heavy CI and reduce schedule
  .github/dependabot.yml
Due: none
