Repository dalisoft/airlight: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdown

biome:
  env:
    PATH: $PATH:./node_modules/.bin
  run: biome check {staged_files} --write

markdown:
  env:
    PATH: $PATH:./node_modules/.bin
  run: dprint fmt {staged_files}

fix(eslint-config-airlight-react): biome upgrade
  packages/eslint-config-react/package.json
Due: biome

fix(lint-staged-config-airlight): biome upgrade
  packages/lint-staged-config/package.json
Due: biome

fix(airlight-resolve): dependency upgrade
  packages/airlight-resolve/package.json
Due: biome

fix: root packages upgrade
  package.json
  pnpm-lock.yaml
Due: biome

chore: ci update to latest
  .github/workflows/lint_release.yml
Due: none

fix(eslint-config-airlight-base): try to fix import
  packages/eslint-config-base/flat.cjs
Due: none

fix(eslint-config-airlight-base): try to fix import plugins
  packages/eslint-config-base/flat.cjs
  packages/eslint-config-base/package.json
Due: biome

chore: update root lockfile
  pnpm-lock.yaml
Due: none

fix(eslint-config-airlight-node): update peer dep
  packages/eslint-config-node/package.json
Due: biome

fix(eslint-config-airlight-react): update peer dep
  packages/eslint-config-react/package.json
Due: biome

fix(lint-staged-config-airlight): update peer dep
  packages/lint-staged-config/package.json
Due: biome

fix(prettier-config-airlight): update peer dep
  packages/prettier-config/package.json
Due: biome

fix(smartlint): update peer dep
  packages/smartlint/package.json
Due: biome

fix(airlight-resolve): update example
  packages/airlight-resolve/examples/basic.mjs
Due: none

chore(smartlint): update biome rule
  packages/smartlint/util.js
Due: biome

chore(smartlint): use proper biome comment
  packages/smartlint/util.js
Due: biome

chore: try to use proper lockfile
  .github/workflows/lint_release.yml
Due: none

chore: improve biome configuration
  .github/workflows/lint_release.yml
  biome.json
  packages/eslint-config-base/airbnb-rules.cjs
  packages/eslint-config-base/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-react/rules.cjs
Due: biome

chore(airlight-resolve): update `package.json` version to v0.5.3 [skip ci]
  packages/airlight-resolve/package.json
Due: biome

chore(biome-config-airlight): update `package.json` version to v1.1.3 [skip ci]
  packages/biome-config/package.json
Due: biome

chore: fix root dependency security
  package.json
  pnpm-lock.yaml
Due: biome

chore(eslint-config-airlight-base): update `package.json` version to v7.7.2 [skip ci]
  packages/eslint-config-base/package.json
Due: biome

chore(eslint-config-airlight-node): update `package.json` version to v5.6.4 [skip ci]
  packages/eslint-config-node/package.json
Due: biome

chore(eslint-config-airlight-react): update `package.json` version to v5.4.4 [skip ci]
  packages/eslint-config-react/package.json
Due: biome

chore(lint-staged-config-airlight): update `package.json` version to v4.1.5 [skip ci]
  packages/lint-staged-config/package.json
Due: biome

chore(prettier-config-airlight): update `package.json` version to v6.0.5 [skip ci]
  packages/prettier-config/package.json
Due: biome

chore(smartlint): update `package.json` version to v7.0.7 [skip ci]
  packages/smartlint/package.json
Due: biome

chore: migrate to bun pm
  bun.lock
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(airlight-resolve): update dependencies
  packages/airlight-resolve/package.json
Due: biome

fix(biome-config-airlight): update to Biome v2 config
  packages/biome-config/biome.json
  packages/biome-config/package.json
Due: biome

fix(commitlint-config-airlight): update dependencies
  packages/commitlint-config/package.json
Due: biome

fix(eslint-config-airlight-base): update deps, fixes and etc
  packages/eslint-config-base/README.md
  packages/eslint-config-base/airbnb-rules.cjs
  packages/eslint-config-base/biome.json
  packages/eslint-config-base/legacy.cjs
  packages/eslint-config-base/package.json
  packages/eslint-config-base/scripts/build-oxlint.cjs
Due: biome, markdown

fix(eslint-config-airlight-node): update deps, fixes and etc
  packages/eslint-config-node/README.md
  packages/eslint-config-node/biome.json
  packages/eslint-config-node/package.json
  packages/eslint-config-node/scripts/build-oxlint.cjs
Due: biome, markdown

fix(eslint-config-airlight-react): update deps, fixes and etc
  packages/eslint-config-react/README.md
  packages/eslint-config-react/biome.json
  packages/eslint-config-react/package.json
  packages/eslint-config-react/scripts/build-oxlint.cjs
Due: biome, markdown

fix(husky-config-airlight): upgrading deps
  packages/husky-config/package.json
Due: biome

fix(lint-staged-config-airlight): upgrade deps
  packages/lint-staged-config/package.json
Due: biome

chore: update configurations and settings
  .github/ISSUE_TEMPLATE/Bug_Report.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/dependabot.yml
  .github/workflows/automerge.yml
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  bun.lock
  eslint.config.mjs
  lefthook.yml
  oxlintrc.json
  package.json
  tsconfig.json
Due: biome, markdown

fix(prettier-config-airlight): update deps
  packages/prettier-config/package.json
Due: biome

fix(smartlint): update deps
  packages/smartlint/package.json
Due: biome

Path conditions:
  biome: any of: *.{js,ts,json}
  markdown: any of: *.md
